<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zyj.mapper.AcademyMapper">


    <resultMap id="academy" type="academyInfo">
        <result column="academy_name" property="academyName"/>
        <result column="create_time" property="createTime" />
        <result column="operate_time" property="operateTime" />
        <result column="delete_flag" property="deleteFlag" />

    </resultMap>
    <update id="update" parameterType="academyInfo">

        update academy_info set academy_name = #{academyName},operate_time = #{operateTime},operator = #{operator} where id = #{id};

    </update>
    <delete id="deleteById">

        delete from academy_info where id = #{id};

    </delete>


    <delete id="deleteByIds">
        delete from academy_info where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>


    <select id="findAll" resultMap="academy">

        select * from academy_info order by create_time desc


    </select>
    <select id="selectById" resultMap="academy">

        select * from academy_info where id = #{id};


    </select>


    <insert id="save" parameterType="academyInfo">

        insert into academy_info(academy_name,create_time,creator) values(#{academyName},#{createTime},#{creator});

    </insert>






</mapper>